[submodule "external/c-libp2p"]
	path = external/c-libp2p
	url = https://github.com/Pier-Two/c-libp2p.git
[submodule "external/c-ssz"]
	path = external/c-ssz
	url = https://github.com/Pier-Two/c-ssz.git
[submodule "external/snappy-c"]
	path = external/snappy-c
	url = https://github.com/andikleen/snappy-c
[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "tools/leanSpec"]
	path = tools/leanSpec
	url = https://github.com/Pier-Two/leanSpec.git
[submodule "tools/lean-quickstart"]
	path = tools/lean-quickstart
	url = https://github.com/blockblaz/lean-quickstart.git
	branch = main
[submodule "tools/leanMetrics"]
	path = tools/leanMetrics
	url = https://github.com/leanEthereum/leanMetrics.git
[submodule "tools/hash-sig-cli"]
	path = tools/hash-sig-cli
	url = https://github.com/Pier-Two/hash-sig-cli.git
[submodule "external/c-leanvm-xmss"]
	path = external/c-leanvm-xmss
	url = https://github.com/Pier-Two/c-leanvm-xmss.git
